# Git ignore configuration

# dependencies
node_modules/

# typescript cache
*.tsbuildinfo

# environment variables
.env

# editor stuff
.idea
.vscode

# macos stuff
.DS_Store

# production build
dist

# nuxt
.nuxt
.output

# lint
.eslintcache
.stylelintcache
